
/* Header */
body {
  color: #101D0C;
  background: #F0FCFC url(../images/splat_top_left.png) top left no-repeat;
}

h1 {
  letter-spacing: -2px;
  font-size: 36px !important;
}

.sitename {
  color: #58C748;
}

.divider_slashes {
  color: #cccccc;
  font-size: 72px;
}

#header {
  border-bottom: dotted 1px #101D0C;
}

h1, h2, h3 {
	font-weight:normal;
}

#sidebar ul {
  list-style: none;
  color: #101D0C;
  margin-left: 0;
}
#sidebar ul li {
  border-bottom: 1px dotted #101D0C;
  padding: 5px 0;
}

/* EOF */
