---
extension: css
filter:    sass
layout:    nil   # no layout
---

!text = #101D0C
!background = #F0FCFC
!header = #58C748

body
  :color= !text
  :background= !background + " url(../images/splat_top_left.png) top left no-repeat"

h1
  :letter-spacing -2px
  :font-size 36px !important
  :font-weight normal

.sitename
  :color= !header

#header
  :border-bottom= !text + " dotted 1px"

#mainbody
  p
    :text-align justify
  
h2, h3, h4
  :font-weight normal

#sidebar
  ul
    :list-style none
    :color= !text
    :margin-left 0
    li
      :border-bottom= !text + " 1px dotted"
      :padding 5px 0

