---
extension: css
filter:    sass
layout:    nil   # no layout
---

!text = #101D0C
!background = #F0FCFC
!header = #58C748
!code = #CC3333

body
  :color= !text
  :background= !background + " url(../images/splat_top_left.png) top left no-repeat"

h1
  :letter-spacing -2px
  :font-size 36px !important
  :font-weight normal

h3, h4
  :font-weight normal

a.noicon
  :background none
  :padding none
  
h1
  a.sitename
    :color= !header + " !important"
    :text-decoration none !important

#header
  :border-bottom= !text + " dotted 1px"

#mainbody
  p
    :text-align justify
  .dateline
    :font-family "Andale Mono", "Lucide Console", Courier, monospace
    :color= !code
  #add_this
    :margin 10px 0
    :text-align right

#sidebar
  h2
    :font-weight normal
    .header_link
      :font-size 12px
  img
    :vertical-align text-bottom
  ul
    :list-style none
    :color= !text
    :margin-left 0
    li
      :border-bottom= !text + " 1px dotted"
      :padding 5px 0

